/* .App {
  text-align: center;
} */

body {
  background-color: #f6f9f9;
}

.header {
  background-color: #f6f9f9;
  border-bottom: 1px solid #afcaca;
  position: fixed;
  top: 0;
  text-align: center; 
  width: 100%;
  z-index: 10;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pointer {
  cursor: pointer;
  color: #007bff;
}

@media (min-width: 992px) {
  .nav-container {
      position: fixed;
      height: 86%;
      overflow-y: auto;
      width: 360px;
  }
}

img, figure {
  max-width: 100%;
}

.container-fluid .row {
  margin-top: 5.5em;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Static Shape */

.loader:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

/* Active Shape */

.loader:after {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  animation: loader 0.6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
}

/* Active Animation */

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader:before,
.loader:after {
  width: 2.28571429rem;
  height: 2.28571429rem;
  margin: 0em;
}